.Header-Container {
    position: absolute;
    background-color: black;

    width: 100vw;
    height: 6%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Header-Container H2 {
    color: white;
    padding: 1rem;
    font-size: xx-large;
     font-family: 'Futura Bold', 'Futura', 'Futura PT', 'Trebuchet MS', Arial, sans-serif;
}

