@import url('https://fonts.googleapis.com/css2?family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Manufacturing+Consent&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: black;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100%;
  background-color: black;
  overflow-x: hidden;
}

.Canvas-Container {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}